<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rdlabazurestorage;AccountKey=zIA7GqewsCTgx4nzQYVqDZ5i7m6X7a4WXMnhrEJ+i2MywAzcCd4iCUJbN3bFEtoYn6wheeeUCBundG6fj5KI8A==;EndpointSuffix=core.windows.net"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
